// Core Colors
$bg-color: #F0F2F5;
$header-bg: #FFFFFF;
$logo-color: #455A64;
$input-text-color: #9A9A9A;
$card-text-color: #4F4F4D;
$card-bg: #FFFFFF;
$card-section-color: #464646;
$card-bottom-icons-color: #51646E;
$card-selected-action-color: #FFE3B3;
$card-star-bg: #FFA000;
$color-options-bg: #FFFFFF;
$icons-color: #455A64;

// Shadow and Border
$input-border: 1px solid #D9D9D9;
$header-shadow: 0 1px 7px rgba(149, 149, 149, 0.25);
$input-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
$input-radius: 3px;
$card-radius: 25px;
$card-line-color: #FFFFFF;
$card-default-line-color: #D9D9D9;
$card-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
$new-card-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
$new-card-radius: 25px;
$color-options-border: 1px solid #D9D9D9;
$color-options-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

// Sizes
$header-height: 25px;
$logo-font-size: 18px;
$input-font-size: 9px;
$input-icon-height: 13px;
$input-icon-width: 13px;
$card-title-font-size: 16px;
$card-description-font-size: 14px;
$card-icon-height: 18px;
$card-icon-width: 18px;
$card-height: 438px;
$card-selected-action-radius: 50%;
$card-section-font-size: 16px;
$card-content-padding: 15px 25px 8px 25px;
$color-options-radius: 9px;
$color-options-margin: 10px;

$dropdown-value-padding: 10px;

// Color Options
$color-option-1: #BAE2FF;
$color-option-2: #B9FFDD;
$color-option-3: #FFE8AC;
$color-option-4: #FFCAB9;
$color-option-5: #F99494;
$color-option-6: #9DD6FF;
$color-option-7: #ECA1FF;
$color-option-8: #DAFF8B;
$color-option-9: #FFA285;
$color-option-10: #CDCDCD;
$color-option-11: #979797;
$color-option-12: #A99A7C;
