@import "@/styles/variables.scss";
@import "@/styles/break-points.scss";

.container {
  width: 100%;
  max-height: 438px;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  background-color: $card-bg;
  color: $card-text-color;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 438px;

    svg {
      cursor: pointer;
      width: $card-icon-width;
      height: $card-icon-height;
    }
  }


  @include laptop {
    width: 70%;
    margin: 0 auto;
  }


  @include desktop {
    width: 40%;
    border-radius: 5px;
    border: 1px solid $card-default-line-color;
  }
}
